
<ion-content>
    <div class="main-wrapper pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <ul class="nav nav-tabs nav-linetriangle">
                        <li class="nav-item">
                            <a class="nav-link active" id="baseIcon-tab1" data-toggle="tab" aria-controls="tab1"
                                href="#tab1" aria-expanded="true"><i class="icon-docs"></i> Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="baseIcon-tab2" data-toggle="tab" aria-controls="tab2" href="#tab2"
                                aria-expanded="false"><i class="icon-clock"></i> Minute of Meeting</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true"
                            aria-labelledby="baseIcon-tab1">
                            <div class="datepicker"></div>
                            <div class="card list-card">
                                <div class="card-header teal text-white">
                                    <a class="text-decoration-none d-block collapse-title collapsed text-success"
                                        data-toggle="collapse" href="#collapse1" aria-expanded="false"
                                        aria-controls="collapse1"><span class="event-date">25/06/2019</span> <i
                                            class="fa fa-angle-double-right mx-1"></i> General
                                        Board Meeting</a>
                                </div>
                                <div class="collapse" id="collapse1">
                                    <div class="card-body">
                                        <div class="event-details">
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <h4 class="event-datetime">
                                                        <i class="fa fa-calendar-check"></i> 25/03/2019
                                                    </h4>
                                                </div>
                                                <div class="float-right">
                                                    <h4 class="event-datetime">
                                                        <i class="fa fa-clock"></i> 11:00 AM
                                                    </h4>
                                                </div>
                                            </div>
                                            <h4 class="event-name"><i class="fa fa-donate"></i>General Board Meeting
                                            </h4>
                                            <h4 class="event-address">
                                                <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                Gujarat
                                            </h4>
                                            <h4>
                                                <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                            </h4>
                                            <h4>
                                                <a href="#" data-toggle="modal" data-target=".avail-modal">Are you
                                                    Available ?</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card list-card">
                                <div class="card-header teal text-white">
                                    <a class="text-decoration-none d-block collapse-title collapsed text-danger"
                                        data-toggle="collapse" href="#collapse2" aria-expanded="false"
                                        aria-controls="collapse2"><span class="event-date">25/06/2019</span> <i
                                            class="fa fa-angle-double-right mx-1"></i> AGM</a>
                                </div>
                                <div class="collapse" id="collapse2">
                                    <div class="card-body">
                                        <div class="event-details">
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <h4 class="event-datetime">
                                                        <i class="fa fa-calendar-check"></i> 25/03/2019
                                                    </h4>
                                                </div>
                                                <div class="float-right">
                                                    <h4 class="event-datetime">
                                                        <i class="fa fa-clock"></i> 11:00 AM
                                                    </h4>
                                                </div>
                                            </div>
                                            <h4 class="event-name"><i class="fa fa-donate"></i>Annual General Meeting
                                            </h4>
                                            <h4 class="event-address">
                                                <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                Gujarat
                                            </h4>
                                            <h4>
                                                <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                            </h4>
                                            <h4>
                                                <a href="#" data-toggle="modal" data-target=".avail-modal">Are you
                                                    Available ?</a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2" aria-expanded="true"
                            aria-labelledby="baseIcon-tab2">
                            <div class="datepicker"></div>
                            <div class="card-list">
                                <div class="card list-card">
                                    <div class="card-header teal text-white">
                                        <a class="text-decoration-none d-block collapse-title collapsed text-success"
                                            data-toggle="collapse" href="#collapse11" aria-expanded="false"
                                            aria-controls="collapse11"><span class="event-date">25/06/2019</span> <i
                                                class="fa fa-angle-double-right mx-1"></i> General
                                            Board Meeting</a>
                                    </div>
                                    <div class="collapse" id="collapse11">
                                        <div class="card-body">
                                            <div class="event-details">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-calendar-check"></i> 25/03/2019
                                                        </h4>
                                                    </div>
                                                    <div class="float-right">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-clock"></i> 11:00 AM
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h4 class="event-name"><i class="fa fa-donate"></i>General Board Meeting
                                                </h4>
                                                <h4 class="event-address">
                                                    <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                    Gujarat
                                                </h4>
                                                <h4>
                                                    <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                                </h4>
                                                <div class="">
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Add your comments.."></textarea>
                                                    <button
                                                        class="btn btn-primary btn-round btn-sm mt-2">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-card">
                                    <div class="card-header teal text-white">
                                        <a class="text-decoration-none d-block collapse-title collapsed text-danger"
                                            data-toggle="collapse" href="#collapse12" aria-expanded="false"
                                            aria-controls="collapse12"><span class="event-date">25/06/2019</span> <i
                                                class="fa fa-angle-double-right mx-1"></i> AGM</a>
                                    </div>
                                    <div class="collapse" id="collapse12">
                                        <div class="card-body">
                                            <div class="event-details">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-calendar-check"></i> 25/03/2019
                                                        </h4>
                                                    </div>
                                                    <div class="float-right">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-clock"></i> 11:00 AM
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h4 class="event-name"><i class="fa fa-donate"></i>Annual General
                                                    Meeting</h4>
                                                <h4 class="event-address">
                                                    <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                    Gujarat
                                                </h4>
                                                <h4>
                                                    <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                                </h4>
                                                <div class="">
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Add your comments.."></textarea>
                                                    <button
                                                        class="btn btn-primary btn-round btn-sm mt-2">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-card">
                                    <div class="card-header teal text-white">
                                        <a class="text-decoration-none d-block collapse-title collapsed text-primary"
                                            data-toggle="collapse" href="#collapse13" aria-expanded="false"
                                            aria-controls="collapse13"><span class="event-date">25/06/2019</span> <i
                                                class="fa fa-angle-double-right mx-1"></i> DGM</a>
                                    </div>
                                    <div class="collapse" id="collapse13">
                                        <div class="card-body">
                                            <div class="event-details">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-calendar-check"></i> 25/03/2019
                                                        </h4>
                                                    </div>
                                                    <div class="float-right">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-clock"></i> 11:00 AM
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h4 class="event-name"><i class="fa fa-donate"></i>DGM</h4>
                                                <h4 class="event-address">
                                                    <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                    Gujarat
                                                </h4>
                                                <h4>
                                                    <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                                </h4>
                                                <div class="">
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Add your comments.."></textarea>
                                                    <button class="btn btn-primary btn-round btn-sm">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-card">
                                    <div class="card-header teal text-white">
                                        <a class="text-decoration-none d-block collapse-title collapsed text-success"
                                            data-toggle="collapse" href="#collapse14" aria-expanded="false"
                                            aria-controls="collapse14"><span class="event-date">25/06/2019</span> <i
                                                class="fa fa-angle-double-right mx-1"></i> General
                                            Board Meeting</a>
                                    </div>
                                    <div class="collapse" id="collapse14">
                                        <div class="card-body">
                                            <div class="event-details">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-calendar-check"></i> 25/03/2019
                                                        </h4>
                                                    </div>
                                                    <div class="float-right">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-clock"></i> 11:00 AM
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h4 class="event-name"><i class="fa fa-donate"></i>General Board Meeting
                                                </h4>
                                                <h4 class="event-address">
                                                    <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                    Gujarat
                                                </h4>
                                                <h4>
                                                    <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                                </h4>
                                                <div class="">
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Add your comments.."></textarea>
                                                    <button
                                                        class="btn btn-primary btn-round btn-sm mt-2">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-card">
                                    <div class="card-header teal text-white">
                                        <a class="text-decoration-none d-block collapse-title collapsed text-danger"
                                            data-toggle="collapse" href="#collapse15" aria-expanded="false"
                                            aria-controls="collapse15"><span class="event-date">25/06/2019</span> <i
                                                class="fa fa-angle-double-right mx-1"></i> AGM</a>
                                    </div>
                                    <div class="collapse" id="collapse15">
                                        <div class="card-body">
                                            <div class="event-details">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-calendar-check"></i> 25/03/2019
                                                        </h4>
                                                    </div>
                                                    <div class="float-right">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-clock"></i> 11:00 AM
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h4 class="event-name"><i class="fa fa-donate"></i>Annual General
                                                    Meeting</h4>
                                                <h4 class="event-address">
                                                    <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                    Gujarat
                                                </h4>
                                                <h4>
                                                    <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                                </h4>
                                                <div class="">
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Add your comments.."></textarea>
                                                    <button
                                                        class="btn btn-primary btn-round btn-sm mt-2">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card list-card">
                                    <div class="card-header teal text-white">
                                        <a class="text-decoration-none d-block collapse-title collapsed text-primary"
                                            data-toggle="collapse" href="#collapse16" aria-expanded="false"
                                            aria-controls="collapse16"><span class="event-date">25/06/2019</span> <i
                                                class="fa fa-angle-double-right mx-1"></i> DGM</a>
                                    </div>
                                    <div class="collapse" id="collapse16">
                                        <div class="card-body">
                                            <div class="event-details">
                                                <div class="clearfix">
                                                    <div class="float-left">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-calendar-check"></i> 25/03/2019
                                                        </h4>
                                                    </div>
                                                    <div class="float-right">
                                                        <h4 class="event-datetime">
                                                            <i class="fa fa-clock"></i> 11:00 AM
                                                        </h4>
                                                    </div>
                                                </div>
                                                <h4 class="event-name"><i class="fa fa-donate"></i>DGM</h4>
                                                <h4 class="event-address">
                                                    <i class="fa fa-map-marker-alt"></i> GSPL Bhavan, Gandhinagar,
                                                    Gujarat
                                                </h4>
                                                <h4>
                                                    <i class="fa fa-download"></i> <a href="#">Download Attachment</a>
                                                </h4>
                                                <div class="">
                                                    <textarea class="form-control" rows="3"
                                                        placeholder="Add your comments.."></textarea>
                                                    <button class="btn btn-primary btn-round btn-sm">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notation mt-2">
                        <ul class="list-unstyled d-flex flex-wrap justify-content-center align-items-center">
                            <li>
                                <span class="notation-color bg-danger"></span>
                                <a href="#">Expired</a>
                            </li>
                            <li>
                                <span class="notation-color bg-success"></span>
                                <a href="#">Read</a>
                            </li>
                            <li>
                                <span class="notation-color bg-primary"></span>
                                <a href="#">Unread</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div id="my-modal" class="modal fade avail-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center m-auto">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="radio1" name="radio1" class="custom-control-input">
                            <label class="custom-control-label" for="radio1">Yes Available</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="radio2" name="radio1" class="custom-control-input">
                            <label class="custom-control-label" for="radio2">Not Available</label>
                        </div>
                        <a href="#" data-dismiss="modal" class="text-yellow d-block font-weight-bold mt-2">Submit
                            Answer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
  </ion-content>