<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/abc.png" width="100%" class="imgmedia d-block mx-auto">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/b.jfif" width="100%" class="imgmedia d-block mx-auto"></ion-slide>
  </ion-slides>
  <div class="card">
<h4 class="text-center">Recipes you must like..</h4>
<div class="row">
  <div class="col-4">
    <a class="text-center d-block">
      <img src="assets/images/a.jfif" class="imgmedia"
     alt="logo">
      <h6>Harvest Salad</h6>
    </a>
  </div>
  <div class="col-4">
    <a class="text-center d-block">
      <img src="assets/images/b.jfif" class="imgmedia"
     alt="logo">
      <h6>Pizza</h6>
    </a>
  </div>
  <div class="col-4">
    <a class="text-center d-block">
      <img src="assets/images/a.jfif" class="imgmedia"
     alt="logo">
      <h6>Harvest Salad</h6>
    </a>
  </div></div>

  </div>
  <div class="card1">
    <h4 class="text-center ">Popular Categories</h4>
    <div class="row">
      <div class="col-6" (click)="gotofooddetails()">
        <a class="py-2 text-center d-block">
          <img src="assets/images/a.jfif" class="imgmedia1"
         alt="logo">
          <p>Harvest Salad</p>
        </a>
      </div>
      <div class="col-6" (click)="gotofooddetails()">
        <a class="py-2 text-center d-block">
          <img src="assets/images/b.jfif" class="imgmedia1"
         alt="logo">
          <p>Pizza</p>
        </a>
      </div>
    
      <div class="col-6">
        <a class="py-2 text-center d-block">
          <img src="assets/images/a.jfif" class="imgmedia1"
         alt="logo">
          <p>Harvest Salad</p>
        </a>
      </div>
      <div class="col-6">
        <a class="py-2 text-center d-block">
          <img src="assets/images/a.jfif" class="imgmedia1"
         alt="logo">
          <p>Harvest Salad</p>
        </a>
      </div>
      <div class="col-6">
        <a class="py-2 text-center d-block">
          <img src="assets/images/b.jfif" class="imgmedia1"
         alt="logo">
          <p>Pizza</p>
        </a>
      </div>
</div>
    
      </div>
</ion-content>