<ion-content>
<div class="card">
<h4>Pizza</h4>
<h6>Desert, Backery</h6>
<hr class="newline">
<h4>Recommand</h4>
<div class="row">
  <div class="card col-6">
    <a class="text-center d-block">
      <img src="assets/images/a.jfif" class="imgmedia"
     alt="logo">
      <h6 class="text-left ml-2">Harvest Salad</h6>
      <div>
        <p class="float-left ml-2"> $200</p>
        <div class="text-right">
          <button class="btn btn-primary btn-sm px-2 mr-2">ADD</button>
            </div>
  
      </div>
    </a>
  </div>
  <div class="card col-6">
    <a class="text-center d-block">
      <img src="assets/images/b.jfif" class="imgmedia"
     alt="logo">
     <h6 class="text-left ml-2">Harvest Salad</h6>
     <div>
       <p class="float-left ml-2"> $200</p>
       <div class="text-right">
         <button class="btn btn-primary btn-sm px-2 mr-2">ADD</button>
           </div>
 
     </div>
    </a>
  </div>
  <div class="card col-6">
    <a class="text-center d-block">
      <img src="assets/images/a.jfif" class="imgmedia"
     alt="logo">
     <h6 class="text-left ml-2">Harvest Salad</h6>
     <div>
       <p class="float-left ml-2"> $200</p>
       <div class="text-right">
         <button class="btn btn-primary btn-sm px-2 mr-2">ADD</button>
           </div>
 
     </div>
        </a>
  </div>
  <div class="card col-6">
    <a class="text-center d-block">
      <img src="assets/images/a.jfif" class="imgmedia"
     alt="logo">
     <h6 class="text-left ml-2">Harvest Salad</h6>
     <div>
       <p class="float-left ml-2"> $200</p>
       <div class="text-right">
         <button class="btn btn-primary btn-sm px-2 mr-2">ADD</button>
           </div>
 
     </div>    </a>
  </div>
  <div class="card col-6">
    <a class="text-center d-block">
      <img src="assets/images/b.jfif" class="imgmedia"
     alt="logo">
     <h6 class="text-left ml-2">Harvest Salad</h6>
     <div>
       <p class="float-left ml-2"> $200</p>
       <div class="text-right">
         <button class="btn btn-primary btn-sm px-2 mr-2">ADD</button>
           </div>
 
     </div>    </a>
  </div>
  <div class="card col-6">
    <a class="text-center d-block">
      <img src="assets/images/a.jfif" class="imgmedia"
     alt="logo">
     <h6 class="text-left ml-2">Harvest Salad</h6>
     <div>
       <p class="float-left ml-2"> $200</p>
       <div class="text-right">
         <button class="btn btn-primary btn-sm px-2 mr-2">ADD</button>
           </div>
 
     </div>    </a>
  </div>
</div>
</div></ion-content>