<ion-content>
  <div class="login-wrapper">
      <div class="flex-container">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="col-sm-10 col-md-6 p-0 wow fadeInDown">
                          <img src="assets/images/logo.png" class="logo mb-2 d-block mx-auto"
                              alt="logo">
                              <div class=text-center>
                                <h6 style="color: black; font-size: 20px; margin-bottom: 10px;">
                                    Reset Password?
                                </h6>
                            </div>

                          <div class="login-form c-form">
                              <div class="row">
                                <form [formGroup]="loginForm" > 
                                  <div class="col-sm-12">
                                      
                                      <div class="form-group input-group">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text">
                                              </span>
                                          </div>
                                          <ion-input type="email" class="form-control"
                                          [(ngModel)]="email" placeholder="Email" formControlName='email'></ion-input>
                                  </div>
                                  <div class="error-form"
                                  *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                  <p>{{ validation_messages.email[0].message }}</p>
                              </div>
                              <div class="error-form"
                                  *ngIf="loginForm.get('email').hasError('email') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                  <p>{{ validation_messages.email[1].message }}</p>
                              </div>
                             
                              <div class="error-form"
                                  *ngIf="loginForm.get('email').hasError('patten') && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                                  <p>{{ validation_messages.email[2].message }}</p>
                              </div>     
                                      <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <ion-input type="text" class="form-control"
                                            [(ngModel)]="code" placeholder="Code" formControlName='code'></ion-input>
                                    </div>
                                    <div class="error-form"
                                      *ngIf="loginForm.get('code').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)"
                                      >
                                      <p>{{ validation_messages.code[0].message }}</p>
                                  </div>
                                      <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <ion-input type="password" class="form-control" maxlength="10" id="password"
                                          [(ngModel)]="password" placeholder="Password" formControlName='password'></ion-input>

                                      </div>
                                      <div class="error-form"
                                      *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)"
                                      >
                                      <p>{{ validation_messages.password[0].message }}</p>
                                  </div>
                                  <div class="error-form"
                                      *ngIf="loginForm.get('password').hasError('minlength') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                      <p>{{ validation_messages.password[1].message }}</p>
                                  </div>
                                  
                                  <div class="error-form"
                                      *ngIf="loginForm.get('password').hasError('maxlength') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                      <p>{{ validation_messages.password[2].message }}</p>
                                  </div>
                                  <div class="error-form"
                                  *ngIf="loginForm.get('password').hasError('patten') && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                  <p>{{ validation_messages.password[3].message }}</p>
                              </div>

                                      <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                            </span>
                                        </div>
                                        <ion-input type="password" class="form-control" maxlength="10" id="password"
                                        [(ngModel)]="confirmpassword" placeholder="Confirm Password" formControlName='confirmpassword'></ion-input>

                                    </div>
                                    <div class="error-form"
                                    *ngIf="loginForm.get('confirmpassword').hasError('required') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)"
                                    >
                                    <p>{{ validation_messages.confirmpassword[0].message }}</p>
                                </div>
                                <div class="error-form"
                                    *ngIf="loginForm.get('confirmpassword').hasError('minlength') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                    <p>{{ validation_messages.confirmpassword[1].message }}</p>
                                </div>
                                
                                <div class="error-form"
                                    *ngIf="loginForm.get('confirmpassword').hasError('maxlength') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                    <p>{{ validation_messages.confirmpassword[2].message }}</p>
                                </div>
                                <div class="error-form"
                                    *ngIf="loginForm.get('confirmpassword').hasError('patten') && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                    <p>{{ validation_messages.confirmpassword[3].message }}</p>
                                </div>

                                         <div class="text-center">
                                          <button class="btn btn-primary mt-4 btn-sm btn-round px-5"
                                          [disabled]="loginForm.invalid"
                                              (click)="Changepassword()">Reset Password</button>

                                            </div>

                                  </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
         
  </div>
</ion-content>