<ion-content>
  <div class="background">
      <p>
          <img src="assets/images/beeinlearn.png" style="vertical-align:middle; width: 40px; height: 40px;">
         Membership
      </p>              
      <div class="card">
            <a class="text-center d-block">
              <h5>Gold Membership</h5>
              <h1>$25</h1>
              <h6>Valid for 6 month</h6>
              <h6 class="text-center">
                Free Play session after 6 visits 10% discount on your entry price and all food and drinks.
              </h6>
              <h6 class="text-center mb-4">
                10% discount on your child's Birthday Party.
              </h6>
            </a>        
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-sm btn-round"
                >Select</button>
       </div>

      <div class="card1 mt-4">
        <a class="text-center d-block">
          <h5>Platinum Membership</h5>
          <h1>$75</h1>
          <h6>Valid for 6 month</h6>
          <h6 class="text-center">
            Free Play session after 6 visits 10% discount on your entry price and all food and drinks.
          </h6>
          <h6 class="text-center mb-4">
            10% discount on your child's Birthday Party.
          </h6>
        </a>        
      </div>
          <div class="text-center">
            <button class="btn btn-primary btn-sm btn-round" (click)="gotohome()"
                >Select</button>
       </div>
        </div>
                             
 
</ion-content>